$color-error: #FF0000;
$color-error-border: #F29B93;

$color-info: #d7e6fa;
$color-info-border: #c1cfe1;

$color-success: #008000;

$color-low-green: #c1e1d3;
$color-middle-green: #acc8bc;
$color-black-green: #2b322f;

$color-low-purple: #ebd7fa;
$color-middle-purple: #d3c1e1;
$color-black-purple: #2f2b32;

$color-disabled: #e9e9e9;
$color-disabled-text: #dbdbdb;