@import "colors.scss";

h1 {
    margin-top: 0px;
}

#login, #register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    min-width: 250px;
}

#login {
    border-color: $color-low-green;
}

#register {
    border-color: $color-low-purple;
}

#loginBtn, #registerBtn {
    width: 7em;
    padding: 0.5em;
    margin-top: 2em;
}

#loginBtn {
    border: 1px solid $color-middle-green;
    background-color: $color-low-green;
    font-weight: bold;
    color: $color-black-green;
}

#loginBtn:hover{
    background-color: $color-middle-green;
    cursor: pointer;
}

#registerBtn {
    border: 1px solid $color-middle-purple;
    background-color: $color-low-purple;
    font-weight: bold;
    color: $color-black-purple;
}

#registerBtn:hover {
    background-color: $color-middle-purple;
    cursor: pointer;
}

#loginBtn[disabled], #registerBtn[disabled] {
    background-color: $color-disabled;
    border-color: $color-disabled;
    color: $color-disabled-text;
    cursor: default;
}

.createAccount {
    font-size: 9px;
    margin-top: 2em;
    align-self: flex-end;
}

.createAccount:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > .inputContainer:nth-child(2) {
    margin-top: 1em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer > label {
    font-size: 11px;
}

.notificationsContainer {
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#registrationOk {
    color: $color-success;
}

#failedLogin, #alreadyExists {
    color: $color-error;
}

#failedLogin, #alreadyExists, #registrationOk {
    font-weight: bold;
    font-size: 11px;
    position: absolute ;
}

