h1 {
    margin-top: 0px;
}

#login, #register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    min-width: 250px;
}

#login {
    border-color: #c1e1d3;
}

#register {
    border-color: #ebd7fa;
}

#loginBtn, #registerBtn {
    width: 7em;
    padding: 0.5em;
    margin-top: 2em;
}

#loginBtn {
    border: 1px solid #acc8bc;
    background-color: #c1e1d3;
    font-weight: bold;
    color: #2b322f;
}

#loginBtn:hover{
    background-color: #acc8bc;
    cursor: pointer;
}

#registerBtn {
    border: 1px solid #d3c1e1;
    background-color: #ebd7fa;
    font-weight: bold;
    color: #2f2b32;
}

#registerBtn:hover {
    background-color: #d3c1e1;
    cursor: pointer;
}

#loginBtn[disabled], #registerBtn[disabled] {
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    color: #dbdbdb;
    cursor: default;
}

.createAccount {
    font-size: 9px;
    margin-top: 2em;
    align-self: flex-end;
}

.createAccount:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > .inputContainer:nth-child(2) {
    margin-top: 1em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer > label {
    font-size: 11px;
}

.notificationsContainer {
    margin-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#registrationOk {
    color: #008000;
}

#failedLogin, #alreadyExists {
    color: #FF0000;
}

#failedLogin, #alreadyExists, #registrationOk {
    font-weight: bold;
    font-size: 11px;
    position: absolute ;
}

